# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production build frontend
frontend/dist/
frontend/dist-ssr/
frontend/*.local

# Python virtual environment
.venv/
venv/
ENV/
env/

# Python cache & compiling
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs & System files
.vscode/
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
